$light: rgb(244, 243, 238);
$dark: rgb(195, 44, 114);

$navbar-light-color: rgb(141, 141, 141);
$navbar-light-active-color: rgb(248, 14, 104);
$navbar-light-brand-color: rgb(38, 38, 38);

$body-bg: rgb(229, 229, 229);

$primary: rgb(244, 243, 238);
$secondary: rgb(195, 44, 114);

$footer-text: rgb(141, 141, 141);
$font-size-sm: 12px;

$headings-color: rgb(70, 63, 58);
$h1-font-size: 34px;
$font-family-base: "Open Sans", sans-serif;

$card-spacer-x: 25px;
$card-border-radius: 15px;
$border-custom: rgb(195, 44, 114);
